.container {
  margin: auto;
  margin-top: 100px;
}

.link {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: #28a2df;
}

.form {
  margin: auto;
  border: 3px solid #a1dbf8;
  border-radius: 5px;
  width: 650px;
  display: flex;
  flex-direction: column;
  /* left: 50%; */
}
.form_select {
  height: 60px;
  width: 620px;
  margin: 32px auto;
  border: 1px solid #6ec6f1;
  font-size: 20px;
  text-align: center;
}

.form_info {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.form_input {
  margin-bottom: 32px;
  padding: 8px 0 0 16px;
}

.form_button {
  height: 60px;
  width: 620px;
  margin: auto;
  margin-bottom: 20px;
  background-color: #6ec6f1;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #3e4041;
}

.text-field {
  height: 56px;
  width: 600px;
  background: #ffffff;
  border: 1px solid #6ec6f1;
}

.text-field_label {
  display: inline;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #6a6e72;
}
.text-field_input {
  display: block;
  width: 95%;
  height: 30px;
  color: #0c1014;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
  border: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.text-field_input::placeholder {
  color: #212529;
  opacity: 0.4;
}

.text-field_input:focus {
  color: #212529;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
.text-field_input:disabled,
.text-field_input[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
}
